/* Global styles */
html, body {
    padding: 0;
    margin: 0;
}

.listViewGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-right: 10px;
    padding-left: 10px;
    grid-gap: 2em;
}

.listings {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    overflow: 'hidden';
    align-self: stretch;
}

.classButton {
    align-self: stretch;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }